body {
    font-family: arial;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.loading {
    filter: blur(5px);
}

.paginator {
    display: flex;
    grid-gap: 2rem;
    justify-content: center;
}

.paginator button {
    background: initial;
    border: 0;
    font-size: 2rem;
}


/* Transitions */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.content-container {
    overflow: hidden;
    transition: height .3s ease-in-out;
}